.cardTotal {
  display: flex;
  justify-content: space-between;
  background: #eef6ff;
  border: 1px solid #1e7ff0;
  border-radius: 12px;
  padding: 15px 30px;
  margin-bottom: 34px;
}
.cardTotal p {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.cardTotal p:last-child {
  color: #1e7ff0;
}
.cardChanges {
  display: flex;
  justify-content: center;
  background: #eef6ff;
  border: 1px solid #1e7ff0;
  border-radius: 12px;
  padding: 50px 100px;
  margin-bottom: 120px;
}
.cardChanges p {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #1e7ff0;
}
