.tableThumbnailContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tableThumbnail {
  width: 45px;
  height: 45px;
  border: 2px solid #ffffff;
  border-radius: 10px;
}

.tableThumbnail img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
