.container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  z-index: 99;
  background-color: #ffff;
  padding: 55px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 223px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  width: 100%;
}
