#beranda-page {
  #sum-card {
    margin-bottom: 30px;
    .ant-card-body {
      display: flex;
      align-items: center;
      padding: 32px;
    }
  }
  #chart-card {
    margin-bottom: 30px;
    .chart-card__graph {
      .chart-card__graph__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 55px;
        h2 {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 19px;
          color: #121926;
        }
      }
      .chart-card__graph__loading {
        min-height: 300px;
      }
    }
  }
}
