* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
  background-color: #fafbfc;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1,
h3,
h4,
h5,
h6,
p {
  color: #121926;
}
h2 {
  color: #697586;
}
a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.btn-outline {
  color: #1e7ff0;
  border-color: #1e7ff0;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1e7ff0;
}

::-webkit-scrollbar-thumb:hover {
  background: #eef6ff;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}
