.ant-btn {
  border-radius: 6px;
  min-height: 50px;
}
.ant-btn-primary {
  background: #1e7ff0;
  border-color: #1e7ff0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
