#form-transaksi {
  .form-transaksi__input-proudct {
    display: grid;
    grid-template-columns: 40px 200px 88px 88px 88px 24px;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    p {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      color: #505359;
    }
  }
  .form-transaksi__btn-tambah-produk {
    margin: 20px 0;
  }
  .form-transaksi__pembayaran {
    hr {
      max-width: 415px;
      border: 1px solid #e3e8ef;
      margin: 0 auto;
      margin-bottom: 34px;
    }
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: #121926;
      margin-bottom: 45px;
    }
    .form-transaksi__pembayaran__label {
      margin-bottom: 12px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #505359;
      text-align: left;
    }
    .ant-input-number {
      margin-bottom: 30px;
      width: 100%;
      input {
        min-height: 40px;
      }
    }
  }
}

.form-transaksi-modal {
  .ant-modal {
    width: 700px !important;
  }
}
