.container {
  padding-left: 350px;
  padding-top: 50px;
  padding-bottom: 40px;
  padding-right: 40px;
  min-height: 860px;
  overflow: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.title h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 0.5rem;
}

.title h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.date p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
